body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  display: block;
  height: 50px;
  text-align: center;
  background-color: #436F4D;
}

nav h1, nav p {
  display: inline;
  color: #f0ffff;
}

#map {
  height: 50vh;
}

.app-container .list-section {
  height: 100vh;
  background-color: rgb(236, 236, 236);
}

.list-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-section input {
  width: 90%;
  padding: 5px;

}

.list-section ul li {
  font-size: 1.25em;
  border-bottom: 1.5px solid #CD2A3E;
  padding: 5px;
}
.list-section ul li:hover {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column-reverse;
}

.map-section {
  width: 100%;
  float: none;
}

.list-section {
  width: 100%;
  margin-left: 0;
}

@media only screen and (min-width:600px) {
  .app-container .list-section {
    width: 275px;
    float: left;
    position: absolute;
  }
  #map {
    margin-left: 275px;
    height: 100vh;
  }
}